body {
    font-family: Arial, sans-serif;
    background-color: #FE5555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 18px;
}

.container {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    font-size: 6rem;
    margin-bottom: 0;
    transition: transform 0.3s ease;
}

p {
    font-size: 1.2rem;
    color: #000000;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

#error {
    animation: float 3s ease-in-out infinite;
}